@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}

.container {
    padding: 0 10% 0 10%;
}

.header-lab {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    float: right;
}

.right-text {
    float: right;
    padding: 0 20px 0 0;
}

.main-title {
    font-size: 30px;
    position: relative;
    color: #7D8386;
}

.sub-title {
    position: absolute;
    top: 0;
    float: right;
    padding: 50px 0 0 60px;
    color: #5A6065;
}

.image-lg {
    width: 100%;
    height: 30em;
    object-fit: cover;
    /* background-color: blue; */
}

.image-lg img {
    width: 100%;
    height: inherit;
    padding-top: 10px;
}

.feature-work p {
    font-size: 25px;
    color: #ADB9C4;
}

.fw-total {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.fw-total div .title {
    font-size: 15px;
    /* font-weight: 600; */
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: #364048;
}

.fw-total div img {
    width: 100%;
}

.fw-total div .subtitle {
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
div .fw-total-1 {
    padding: 0 0 20px 0;
}

/* SET MEDIA QUERY 300 */
@media screen and (max-width: 300px) {
        
.fw-total {
    width: 100%;
    height: 35vh;
    display: block;
    justify-content: space-between;
    text-align: center;
}

.fw-total div .title {
    font-size: 15px;
    /* font-weight: 600; */
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: #364048;
}

.fw-total div img {
    width: 100%;
    object-fit: cover;
}

.fw-total div .subtitle {
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
div .fw-total-1 {
    padding: 0 0 20px 0;
}
}

/* SET MEDIA QUERY 400 */
@media screen and (max-width: 400px) {
    .header-lab {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        float: right;
    }
    .right-text {
        float: right;
        padding: 0 10px 0 0;
    }
    .main-title {
        font-size: 25px;
        position: relative;
        color: #7D8386;
    }

    .sub-title {
        position: absolute;
        top: 0;
        float: right;
        padding: 50px 0 0 30px;
        color: #5A6065;
    }
    
}

@media screen and (max-width: 600px) {
    
.fw-total {
    width: 100%;
    height: 35vh;
    display: block;
    justify-content: space-between;
    text-align: center;
}

.fw-total div .title {
    font-size: 15px;
    /* font-weight: 600; */
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: #364048;
}


.fw-total div .subtitle {
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

}