:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body { 
	height: 100vh; 
}


* {
  box-sizing: border-box;
}

a:link{
    text-decoration: none!important;
    cursor: pointer;
  }

.global-container{
    height:100%;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 8% 35% 0 35%;
}

div > .login-btn {
    background-color: #A1A1A1; /*5CB85C*/
    width: 100%;
    height: 40px;
    border: 2px solid #A1A1A1;
    border-radius: 5px;
    color: #FFFFFF;
    size: 18px;
    /* margin-bottom: 10px; */
}

div > .register-btn {
  background-color: #A1A1A1; /*5CB85C*/
  width: 100%;
  height: 40px;
  border: 2px solid #A1A1A1;
  border-radius: 5px;
  color: #FFFFFF;
  size: 18px;
  /* margin-bottom: 10px; */
}


@media screen and (max-width: 980px) {
    .global-container{
        height:100%;
        align-items: center;
        justify-content: center;
        background-color: #F7F7F7;
        padding: 10% 25% 0 25%;
    }
  }

  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

.navbar-dark .bg-primary {
    background-color: #F7F7F7;
}

form.search-box {
  display: flex;
  width: 100%;
}

form.search-box input[type=text] {
  width: 80%;
  font-size: 15px;
  box-sizing: border-box;
  padding: 5px 10px;
  
}

div .main {
  padding: 20px 20px 10px 10px;
}